<%- include('./static/navbar.ejs', { user }) %>

  <section class="py-5 mb-5 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <b style="font-size: 3rem;" class="font-weight-bold text-center"
            >404</b
          >
          <p style="font-size: 1.75rem;">Üzgünüm, sayfayı bulamadım :c</p>
          </br>
          <a href="/" class="btn btn-primary">Anasayfa</a>
        </div>
        <div class="col-md-1">
          <div class="row no-gutters">
            <div class="ml-7">
              <svg
                version="1.1"
                id="Layer_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="212px"
                height="270px"
                viewBox="0 0 212 270"
                enable-background="new 0 0 212 270"
                xml:space="preserve"
              >
                <image
                  id="image0"
                  width="212"
                  height="270"
                  x="0"
                  y="0"
                  xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANQAAAEOCAMAAADG0snXAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAB7FBMVEX///85SWY5SWY5SWY5
SWY5SWY5SWY5SWY5SWY5SWY5SWY5SWY5SWY5SWY5SWY5SWZCWIBPb6ZWfLtsovxlluhsovxsovxs
ovxsovxsovxsovxsovxsovxsovxsovxsovxsovxsovxsovw9T28lJigqLjQnKSsnKCtchchNaJVG
Wn05RFQwMjUwMjUoKSswMjUpKiwlJigwMjUpKy0lJigwMjUwMjUmJyklJigwMjUlJigwMjUnKCol
JiglJykwMjUwMjUqLC4mJyknKCowMjUqKy4sLjAwMjU5SWYxPlQzQVg1Q10uOEsqMkIoMD0iJzAd
HyIbHB4fISc3RmEwO08kKjQhJCssNUYmLTlUVVYpKixGR0hjY2WNjo9xcXPy8vL///+cnJ3j4+Sq
qqvV1dbHx8c4ODp/gIG4ubk/VHg8Tm9GX4tJZZRSdbFWe7pfjNZml+lpnPNsovxMap5PcKdZgMRi
keBCWYJchs08Tm5Na59IZJIzPlNAVnwmKCw3RV41Q1s3RVwlJigqLzg4R2IpLTQvOEctMz80QFcy
PE81QVYwOUcuNUErMDc3RFwuMTU3RV0tLzIxMzgwMjVAVHg9T29bgsRNaJVdhspOapguMDMnKCoo
KSsrLS8sLTAmJykvMTQmJyotLjEqLC6K6FHMAAAASHRSTlMAMEAgUIDA0HCQ8GAQoOCwdHBKQHmA
YDAg8MDQsKAQ4HBQkMCA+vDv9PhkmECA52DAQCCH5LDQ/nBQ05D2ENmgEB+/zvBwWDAEtFDgAAAA
AWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+UEGAsoJx5yDQEAAA28SURB
VHja3Z35YxPHFcfXl2z5gLauIdyh9+GkTdr0SlLapiSSbVmyZVu+JXxwB/BCYlpaCiqEkjYtQb2P
hCT/aGd3tdLO7hxvVjvH6vsTyDvy+/DevHnzdnewLCXq6XXVp+a3yVRv/8BAJjOYCymTyQwM9Pbq
tk4cZyibGc5xNJzJjvTothSmvpHsIA8H81u2f1S3zUyN9o8dEAHyNZjt1206RX1DmThAvg6OGOew
viGhmKM4zCSu0ZGOfIT7SzeMp54xbp4T0XBW/2KWnJPaymhdw0aHYiU7vg5oi8LRgUTjzgQsqUia
sEYkI2nA6pU0l8JSmDL6JGQ8msbUrMejA+qQkIaHFDCpiry2BmXvT0azqpEcDRjopnxQU6Y5S2Q2
TednCrPFYmmOoPlicbYwky/Dv03azOoD7i6mFwqLS3MgFRcL+WnYtx6Ukgb7ActteaFA9g1LpWIB
4rQDEkKQG3rlhVmgf0haml3gYiVdYIweZP++qUIHQK1grHBCcSxRJvZ0mpqd75zI0/wsMztmEpxY
PYzpNJ0cUZOL5a/BxLbF9BRRnkkg6ghxOEOlGk4oXYxQnbQsnOmgKhVo7hpOpHCnMeWLsog8Lecp
vziBJEhhkhN3uIp5SVRkppmEk4MgVodURCbZgYdhTSVORWKaXlSH5Gi5nCwVgalcUIuEVKoQqGLn
QAJTXtFkwrUUjcG461W0jigrjry2ZsvJUEWZ8tLW2jjOGoxRB45GathZfUiOIjNrUBwq3NubVrDa
srUYDkHhnUi4a6Qz9HzNh0NQsHERTnwzuoFclcK7Y6FkEU4Sy7pxfIX2JMMCySKcJIxhQvUFblkm
7oTStzoBqMDN236cSXvaY1IBp9UoPqEUluRxqIBrMN4NM2g+kamy4sFnIFM4BwIKdjz4KrrtJwtb
rw7wocawOkK39RSVsNqCmwF7g1dPG1AbkbWE1YG8Did2V82wZB7UosASPBS8Vv3OXUBYsmDmCixL
TOm2m6lSsIXLzBXZlASfIywAGZuQvhRk87aCeZ1RrgfTednYzOdrHpTWMUdp7khAVIG4Kuioad0W
A1Qq812FOcrImi8sgKtizagVR6uhD1edD9diDZ1bWd/gD22KP6tGY6y7m9Waq3OYbee8D7fWWUPX
iUM3qoChbQVX4GESFPagBKxlvlnztR34dLv1KcO09dZFOwGq3danmyADikGbSXdCgsUErDpfrdYI
RrRJa9VVyND2P8i59oe18yATgmUFoWOLdfpgaeJCwIaqPw8CTIx/b+JV2IcXQCZgvehoBYh1xWBp
YjdoRHU9AlqrXaQNvViLUmFMtV2QCUtBqyNt6J7gT4GlbA3X9vrK5m4NZlnouu3zc+e3gUNxYU8m
hLM6VsoCc99WjSegp0gCQmE7kHBZi3UmgF2xba5l1Dl1gTsUNqfwzlIoVeAtJNj3zZ2vcgzboQ5d
5Q2lJ05c2KQKdTaxdgu47lvdYRvGqAzWOVDQomIOg8J6gFg1IdJDYkYgcwFdr8YeignrK2E7YPx2
lEhvYju2YWv0PFMFVkmO8tT4G4sNNUeLwOoKbyQ1eHfAsYdUoMZfB7cE1sTnU2soOQKrsAqJCBXI
f1gHU/Q+B3nJ4frJ0UaH8ykKFehrZjuBIlq2Axq6SnSU0G/HC/Xg+jvYCdQmyTJgPRD/34MGdZCc
0EWhzpEs2wINPU8MP6EpFYYaJid0UShyZt6ADCWvBxchQ1taDBnfQ55SYlC0Kg4w3TfjD20rlCha
kyr8FJLI3XhKRq/hO3whJnAxS4Q6SJ5SIovvGqPY2WHXpBv0kbVtYDk7F30Oa5i4Sol00deYBRzT
V+x9yw6YKvLocF+0jeQIXNCuczYQjDA6xx4JzxaRh/K98zoiL9yUgd+3wjGMsSniDoWVJHOhrYej
AWKegHb95na4llFdxd80A11VjBjv3SuNfAxNf2E7NlY2oJaFGi+1rd3wcgdbvudmI8YfiPSRhDJF
yAynLg+FFbCb5O6fVqpxoAjvx0XbE66A+3k8/EjNO2r+w8Jvy9um4PsrYPhFjXd7mqSXDUVb6TVK
m5U624MebW29sEYObPO7SDC+P7Lr9QS8jbgbZcKoGLX6Nsn8NdDQoEhvjznpj3RkATD+2gET3Oe2
qFgraHvoBdGhQZHeA8kSM3oOXNM2TQs1Spp3rdiG+VR4Ob8pxrRMsj1DzOg5+NPNqxtbbicc1xra
4lc3eIY5N9h2wrNuZRcy1FdeCAq6/upVkWw7cZlyZPRzSb5maFC95B+Y/2xI6D42BMqQdwaYor1e
2kuFMn9WFXNUKOrpBaY+atrSdAwooVaFBhVycaDMzhVLuVhQuQXdhrM0FRPK5MfjKrm4UOY+cbqY
iw9l6oPpS+UOoAx94rnEPlGKB2VmYcE5JYsLZSLVTI4H9TnOFeY9ys1jQlCf511i2i6EywSCMisC
+Uy5L0CgDKIq8Q/3yuXGrS8CrsotGLJelUCnA45bE5DLclNG7K6WQMfmXUJQl0FUZQPejF2GnXJ4
BUFdAV1pQHVbARp6VQBK8+kN8+DDNt9GUG9DL9b6Ev0s/IDNawjqGvhqfVlwPi9g5HUEdV3gek3O
EnAT0g0EtScyQMfJSUXBo2ttBGXDcnpbFaUxOA+oizBdQVCHbHD681UuKMMqFUSNy91EUOP2LeFx
qrBKBaHJ5OmaC/WO+EAlWLGQUPKzDyOod+MMRVgVqSlDeC75sm3Les4WzhQtLUgrCBdFFiZM+w6U
ZdtX436BhFNoXSfxTg5m6ZZ9xIWCF0pEdyV7cCvnzGCubttHEdTRuJNKAlenREh7Taj4k6qtBE6s
LlY6JnKn1ASCmuhoUgXUydniRcDJ4iDdakHFWqnIyhcWBVPH0mIldqqL6raN1l4LLVT2jeS+1FE5
XykUAU5bKhZmEuRxdNm20drrLlT2frJf7Wk6v1AoLBeLRcx180Xnf1Uo5EX+WwW4rtruMuXk9A6T
ukF6x7aPuVAo/XWc1E3Rnm0fd6FOIFdd0m1NMnKib8KFOoT+JNKoMFgo+tzkZ1mH7cTznyZdRtFn
n7T8TCG+/TVRN20/T7iZIsn1V5+uI5ATTShUU9h7CdR/unXJCblDTahx5y83dZvUua45HM/57+/Z
XZEq3DRxqvX26NGuSBVOmmhNKct63vmrUPvZRN1wKE63oJyVKvVVxRUX4mT7PfNTdvqzupPPm4Wf
py+l31Weo54PQHnxl2pXuY5qJ/RW/KXZVZ6jjgWZmvGXYld5jjqEQXnxl15XeY4K5j5Hx+xUr1Xu
GoXlvtb6m9qy4pZn/ekQ1Env43RWgG7VF6z7fJ3wqFLZV7rm2T4RgRr3frCXwlyx75mOL1LBVGHf
1m2iuN71LD8RZXKbSo6SuVugUM0s0WwjhXSqGYC/0m2lmC55WcK9LRVVM6vbv9Ztppiu2+R83szq
R7yf3vmNbjtF9Nsm0ymLrIkm1N3f6bYUrnv3m1CHKFBNV92p/163qWA9eHif7SjfVXfq9fd0GwvV
o/p91oxqJ0AEVf+DbmthelxvQh2lM3lrlQOVjml1r+5DjTOg3LLCgao/fKDbYr4e3PWhjrOY3ArQ
hao/0m0yXw8dO9+nVH1BnfChzE8Wj1wz/0gszyNpvQlVf6zbarbe86z8E0rnJzlQqFjyocxOgY+b
Rn7AyRKejrag7t7TbTmfCUEd5zNZh1tQBlPdu9uCOsINPkdfrhtP1Waqf3AawmR9pW46VYCp/lUQ
EwZlJFWQqf61GFAGUmFM9a/HgTKOCmeKCWUYVYgpLpRRVGGm2FD1u3/WzUJlig9V/8sT3TSenkSY
OoD68KkRVE+e1pOEaphA9eRpI1moxtO/6mb629NG0lCNv0t5JBqu/X80kof6555Wqv29f8mAsnVS
7e/ZcqA0UiEmWVDaqBwmaVCaqFwmeVBaqDwmiVAaqJpMMqGUU/lMUqEUU7WY5EIppWozSYZSSBVg
kg2ljCrIJAXqG7ZyKozJ/qYEqG8dUU2FMx35tgSoycOKqUJMh1+QAWWppQozWXKglFJFmGRBKaSK
MkmDUkZFYJIHpYiKxCQRSgkVkUkmlAIqMpNUKOlUFCa5UJKpaEySoaRSUZlkQ0mkojNJh5JGxWCS
DyWJisWkAEoKFZNJBZQEKjaTEqjEqThMaqASpuIxKYJKlIrLpAoqQSo+kzKoxKgATOqgEqKCMCmE
SoQKxKQSKgEqGFPiUP9mQHVMBWSiQL0YG6rBguqQCspkfYcI9V0Y1EuRgf9xoBgjOqECM1kvIyP+
G7HtezAo6/vhgf9DX/cKa0R8KjiTZf2g0fgobNoPgUzWj0IDP37GjL5OqESYrB83Gs8+iRd9SD/B
B36KmF7lDIlHJcRkWa80Gh/ipr0GZrJe/2lw4EeI6Qx3TBwqQSbrZ+EAfO3ncCjr9V+0Y89hegEw
RpxKlAlRvdpofPpxe40SYUJ66Q132CefPWv88szLoCGiVOJMSJNnGs8+8ybWi2fFkDyus2ffnJyc
fAs8QIwqFpOjtyYn3zx7Ng5RLIlQxWZSLjhVepjgVGliglKliwlGlTYmCFX6mPhUaWTiUaWTiU2V
ViYWVXqZ6FRpZqJRpZuJTJV2JhJV+pmiVN3AFKHqCqYwVXcw0anSzESjSjcTmSrtTCSq9DNFqbqB
KUzVHUw4VbcwBam6h6lN1U1MPlV3MXlU3cbkUHUfE6JSx/R/Lqndd1T/KSwAAAAldEVYdGRhdGU6
Y3JlYXRlADIwMjEtMDQtMjRUMTE6NDA6MzkrMDM6MDALM3U/AAAAJXRFWHRkYXRlOm1vZGlmeQAy
MDIxLTA0LTI0VDExOjQwOjM5KzAzOjAwem7NgwAAAABJRU5ErkJggg=="
                ></image>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include('./static/footer.ejs') %>
